button {
  background-image: radial-gradient(
    rgba(88, 88, 88, 0.9),rgba(88, 88, 88, 1)
  );
  height: 100%;
  width: 100%;
  font-size: 100%;
  border-radius: 10%;
  color:inherit;
}

button:hover {
  background-color: rgb(78, 78, 78);
}
