button {
  background-image: radial-gradient(
    rgba(88, 88, 88, 0.9),rgba(88, 88, 88, 1)
  );
  height: 100%;
  width: 95%;
  font-size: 100%;
  border-radius: 20%;
  color:inherit;
}

.Button button:hover {
  background-color: rgb(78, 78, 78);
}
