.ButtonContainer {
  width: 100%;
  height: 100%;
}

.ButtonContainer div{
  width: 18%;
  height: 100%;
  display: inline;
  float: left;
}

#first {
  padding-left: 14%;
}

#last {
  padding-right: 14%;
}
